/* Global */
html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: Koho, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-wrap: balance;
}

b {
    font-weight: 600;
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.25rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 6.25rem;
}

/* Navigations */
.logoPosition {
    position: absolute;
    height: 200%;
    display: flex;
    flex-direction: column;
    left: 2rem;
    top: 3rem;
}

.logo {
    position: sticky;
    top: 0rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    position: absolute;
    height: 200%;
    right: 2rem;
    top: 3rem;
}

.menuList {
    position: sticky;
    top: 0rem;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: right;
}

li {
    padding: 0.75em;
}

.naviScrollSet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.naviButton {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.naviButton:hover {
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(180deg, black 0%, grey 100%);
    color: transparent;
    background-clip: text;
}

.vectorAlign {
    display: flex;
    justify-content: center;
}

/* Sections */
.main-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    min-height: 100vh;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-inline: 25%;
    margin-bottom: 5rem;
}

.main-work {
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    gap: 1rem;
}

.about-start {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-me-philosophy {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    gap: 2rem;
}

/* Main start */
.work-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

.work-img {
    border: 5px solid black;
    border-radius: 15px;
}

.localise img{
    scale: 0.8;
}

.localise {
    background-color: #F2FAFF;
}

.isc {
    background-color: #FFF7F2;
}

.tea {
    background-color: #F2FFF2;
}

/* About start */
.heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
    gap: 2.25rem;
}

/* About philosophy */
.philosophy {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0rem;
}

/* Contact */
.contact div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.contact img {
    width: 20vw;
    height: 100%;
}

div button {
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
}

div label {
    font-weight: 600;
}

div input {
    padding: 0.5em 1em;
    border-radius: 5px;
}

div textarea {
    height: 40%;
    padding: 0.5em 1em;
    border-radius: 5px;
}