/* Global */
html {
    scroll-behavior: smooth;
    font-size: 16px;
    /* color-scheme: dark light; */
}

body {
    font-family: Koho, Helvetica, sans-serif;
}

h1 {
    color: #444;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -1px;
    margin-block: 1rem;
}

h2, legend {
    color: #555;
    font-size: 1.5rem;
    font-weight: 600;
    margin-block: 1rem;
    text-wrap: balance;
    text-align: center;
}

b {
    font-weight: 600;
}

p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: #444;
}

a {
    text-decoration: none;
}

header {
    justify-items: center;
    padding-block: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* Navigations */
.logoPosition {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 2rem;
    top: 3rem;
    z-index: 99;
}

.logo {
    position: sticky;
    top: 0rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 99;

    position: absolute;
    right: 2rem;
    top: 3rem;
}

.menuList {
    position: sticky;
    top: 0rem;
    font-size: 1.25rem;
    font-weight: 800;
    text-align: right;
}

li {
    padding: 0.75em;
}

.naviScrollSet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.naviButton {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    max-width: 300px;
}

.naviButton:hover {
    text-decoration: none;
    font-weight: 600;
    background-image: linear-gradient(180deg, black 0%, grey 100%);
    color: transparent;
    background-clip: text;
}

.vectorAlign {
    display: flex;
    justify-content: center;
}

/* Sections */
.main-start, .about-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    margin-top: 1rem;
}

.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-inline: 25%;
    margin-bottom: 5rem;
    text-align: center;
}

.main-work {
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    gap: 1rem;
}

.main-work fieldset:hover {
    box-shadow: 1px 1px 2px #222;
}

.about-me-philosophy {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    gap: 1rem;
    justify-content: center;
}

.localise-start, .isc-start, .tea-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Main start */

.koi {
    animation: swim 5s ease-in-out 1s forwards;
}

@keyframes swim {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* Main work */
.work-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

.work-content p {
    max-width: 75ch;
}

.work-content div {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
}

.work-img {
    border: 5px solid black;
    border-radius: 15px;
}

.localise {
    background-color: #F2FAFF;
    border-color: #d0edff;
}

.isc {
    background-color: #FFF7F2;
    border-color: #ffe0cd;
}

.tea {
    background-color: #F2FFF2;
    border-color: #d8ffd8;
}

/* About start */
.heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    text-wrap: balance;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    text-wrap: balance;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 2.25rem;
}

/* About skills */

#about-skills {
    padding-block-end: 2rem;
    background: #ffffff33;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff4d;
}

#about-skills h1 {
    text-align: center;
}


.about-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
  
.card {
    position: relative;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px rgba(211, 211, 211, 0.5), 1px 1px 5px 1px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-inline: 1.25rem;
    box-sizing: border-box;
    background-color: #222;
    transform: rotateX(-90deg);
    transform-origin: bottom;
}
  
.card:hover .card-content {
    transform: rotateX(0deg);
}
  
.card-content h2 {
    color: white;
}
  
.card-content p {
    font-size: 0.875rem;
    color: white;
    line-height: 1.25;
    letter-spacing: 2px;
}

/* About philosophy */
.philosophy {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    gap: 1rem;
}

.philosophy p {
    flex-basis: 500px;
    flex-grow: 1;
}

.philosophy img {
    scale: 0.8;
}

/* Contact */
.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact img {
    max-height: 500px;
    margin-block: 1rem;
}

form button {
    background-color: black;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
}

form label {
    font-weight: 600;
}

form input, textarea {
    padding: 0.5em 1em;
    border-radius: 5px;
}

form input:user-valid, textarea:user-valid {
    outline: 2px solid green;
}

form input:user-invalid, textarea:user-invalid {
    outline: 2px solid red;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Case Studies */
.mockupMB {
    width: 100%;
    max-width: 142px;
    height: auto;
    max-height: 306px;
}

.mockup {
    width: 600px;
}
 .case-content {
    background-color: white;
    border-radius: 2rem 2rem 0 0;   
    margin-block-start: 5rem;
    padding: 1em;
 }
/* RWD Media Queries */
@media only screen and (width >= 1200px) {
    .mainHeight {
        min-height: 300vh;
    }

    .aboutHeight {
        min-height: 200vh;
    }

    .contactHeight {
        min-height: 100vh;
    }
}

@media only screen and (width < 1200px) {
    /* Navigation */
    .logoPosition, .logo, .menu, .menuList {
        position: initial;
    }

    [id^="main-"],[id^="about-"] {
        scroll-margin-top: 10rem;
    }

    header {
        position: sticky;
        top: 0;
        padding: initial;
        background-color: #222;
        box-shadow: 0px 4px 8px black;
        z-index: 99;
    }

    header > h1 {
        color: white;
        text-align: center;
        padding-block-end: 1rem;
        order: 2;
    }
    
    .menu {
        padding-block-start: 1rem;
        margin-block-end: 1rem;
        order: 1;
    }
    
    .menuList {
        font-size: 1rem;
        font-weight: 800;
        text-align: center;
    }

    .menuList li {
        display: inline;

    }

    .menuList a:visited{
        color: white;
    }

    /* Main About */

    .main-about{
        margin-inline: 15%;
    }

    /* About Start */
    .heroSection {
        display: grid;
        grid-template-columns: initial;
        grid-template-rows: 1fr auto 1fr;
        align-self: center;
        justify-items: center;
        max-width: 80%;
        margin-top: 1rem;
    }

    .heroSection p {
        text-align: center;
    }
    
    /* Contact */
    .contact img {
        max-height: 200px;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: initial;
        grid-template-rows: 1fr;
    }

    .contact-grid > #fNameLabel {order: 1;}
    .contact-grid > #fName {order: 2;}
    .contact-grid > #lNameLabel {order: 3;}
    .contact-grid > #lName {order: 4;}
    
}