/* Global */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Koho, Helvetica, sans-serif;
    margin: 50px 128px;
}

/* Header Navigation */

/* .logoPosition {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 32px;
    top: 60px;
    
} */

.logo {
    position: absolute;
    width: 52px;
    height: 56px;
    left: 32px;
    top: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    width: 94px;
    height: 250px;
    right: 32px;
    top: 60px;
}

a {
    text-decoration: none;
}

.menuList {
    list-style: none;
    font-size: 20px;
    font-weight: 800;
    text-align: right;
}

li {
    padding: 12px;
}

li:hover{
    text-decoration: underline;
}

/* Sections */
.about-me-start {
    position: flex;
    flex-direction: column;
}

.about-me-philosophy {
    position: flex;
    flex-direction: column;
}

/* About me start */
h1 {
    font-size: 36px;
    font-weight: 400;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    gap: 36px;
    margin-bottom: 100px;
}

.heroSection {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    padding: 0px 12px;
}

.me {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 0px 12px;
}

p {
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 30px;
}

.social-media {
    display: flex;
    gap: 36px;
}

.naviScrollSet {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.naviButton {
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
}

.naviButton:hover{
    text-decoration: none;
    font-weight: 600;
    color: linear-gradient(180deg, black 0%, white 100%);
}

.vectorAlign {
    display: flex;
    justify-content: center;
}

/* About me Philosophy */

.philosophy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 60px;
}

.philosophy2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 60px;
}

span {
    max-width: 600px;
}

/* Footer */
footer {
    position: flex;
    text-align: center;
}